<!DOCTYPE html>
<html>
<head>
  <title>{{ web_app_name }} - {{ web_app_env }}</title>
</head>
<body>
  <h1>{{ web_app_name }}</h1>
  <p>Environment: <strong>{{ web_app_env }}</strong></p>
  <p>Served by someone, configured by Ansible.</p>
</body>
</html>